

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: navy;
}

ul {
    display: flex;
    color: #b3b3f3;
}

.header-item {
    margin-right: 15px;

}

.buddy-system {
    color: #b3b3f3;
    margin-left: 20px;
}